#eventName {
    text-align: center;
    margin: 0;
}

#numDays {
    text-align: center;
    font-size: 5em;
    max-width: 100%;
    height: auto;
}

#unitTime {
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .ui.stackable.cards > .card {
        padding: 1.5em!important;
    }
}
